.h1-jovidnam{
    text-align: center;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-work{
text-align: center;
color: rgb(255, 0, 0);
}
.p-work{
    text-align: center;
    border: 3px solid rgb(24, 0, 236);
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(38, 255, 0);
    color: rgb(255, 115, 0);
    transition: all 700ms;
}
.p-work:hover{
    background-color: rgb(13, 90, 0);
}
a{
    text-decoration: none;
}
.h3-how{

    text-align: center;
    color: rgb(0, 133, 88);
}

.p-bmr{
    text-align: center;
    color: rgb(0, 117, 106);
}